.main {
  padding: 20px;
  font-family: 'Helvetica', serif;
  box-shadow: 5px 5px 7px 5px #888888;
}

.main h1 {
  font-size: 40px;
  text-align: center;
  font-family: 'Helvetica', serif;
}

input {
  font-family: 'Helvetica', serif;
  width: 450px;
  font-size: 10px;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border: 1px solid black;
  border-radius: 8px;
  border-bottom: 2px solid #767474;
}

input[type=submit] {
  font-family: 'Helvetica', serif;
  width: 30%;
  background-color: #767474;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}

.container{
  width: 80%;
}

/* NAVBAR */

* {
 	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
  background-color: lightcyan;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,h3,a {
	color: #34495e;
}

.google{
  width: 20px;
  height: 20px;
}

a {
	text-decoration: none;
}



.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}


.header {
	
  padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}



@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
  }
   .header{
		width: 80%;
		margin : 0 auto;
		max-width: 1150px;
	}
}


@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}
